# Lab 1 - API de Acesso a Dados

# Tarefa 1

Das fontes de dados disponíveis, tente encontrar fontes com formatos diferentes e importá-las via Python. Busque pelo menos dois formatos.

In [6]:
import io
import requests
import json
import pandas as pd

url = "https://restcountries.eu/rest/v2/regionalbloc/usan?fields=name;capital;population"
dados = requests.get(url).content
data = json.loads(dados)
tabela = pd.json_normalize(data)
tabela.head(len(tabela))

,name,capital,population
0,Argentina,Buenos Aires,43590400
1,Bolivia (Plurinational State of),Sucre,10985059
2,Brazil,Brasília,206135893
3,Chile,Santiago,18191900
4,Colombia,Bogotá,48759958
5,Ecuador,Quito,16545799
6,Falkland Islands (Malvinas),Stanley,2563
7,French Guiana,Cayenne,254541
8,Guyana,Georgetown,746900
9,Paraguay,Asunción,6854536
10,Peru,Lima,31488700
11,South Georgia and the South Sandwich Islands,King Edward Point,30
12,Suriname,Paramaribo,541638
13,Uruguay,Montevideo,3480222
14,Venezuela (Bolivarian Republic of),Caracas,31028700

In [7]:
import pandas as pd
import io
import requests
url = "https://www.quandl.com/api/v3/datasets/WIKI/AAPL.csv"
data = requests.get(url).content
csv = pd.read_csv(io.StringIO(data.decode("utf-8")))
print(csv)

            Date    Open    High     Low    Close      Volume  Ex-Dividend  \
0     2018-03-27  173.68  175.15  166.92  168.340  38962839.0          0.0
1     2018-03-26  168.07  173.10  166.44  172.770  36272617.0          0.0
2     2018-03-23  168.39  169.92  164.94  164.940  40248954.0          0.0
3     2018-03-22  170.00  172.68  168.60  168.845  41051076.0          0.0
4     2018-03-21  175.04  175.09  171.26  171.270  35247358.0          0.0
...          ...     ...     ...     ...      ...         ...          ...
9395  1980-12-18   26.63   26.75   26.63   26.630    327900.0          0.0
9396  1980-12-17   25.87   26.00   25.87   25.870    385900.0          0.0
9397  1980-12-16   25.37   25.37   25.25   25.250    472000.0          0.0
9398  1980-12-15   27.38   27.38   27.25   27.250    785200.0          0.0
9399  1980-12-12   28.75   28.87   28.75   28.750   2093900.0          0.0

      Split Ratio   Adj. Open   Adj. High    Adj. Low  Adj. Close  Adj. Volume
0             1.0  173.680000  175.150000  166.920000  168.340000   38962839.0
1             1.0  168.070000  173.100000  166.440000  172.770000   36272617.0
2             1.0  168.390000  169.920000  164.940000  164.940000   40248954.0
3             1.0  170.000000  172.680000  168.600000  168.845000   41051076.0
4             1.0  175.040000  175.090000  171.260000  171.270000   35247358.0
...           ...         ...         ...         ...         ...          ...
9395          1.0    0.391536    0.393300    0.391536    0.391536   18362400.0
9396          1.0    0.380362    0.382273    0.380362    0.380362   21610400.0
9397          1.0    0.373010    0.373010    0.371246    0.371246   26432000.0
9398          1.0    0.402563    0.402563    0.400652    0.400652   43971200.0
9399          1.0    0.422706    0.424470    0.422706    0.422706  117258400.0

[9400 rows x 13 columns]

# Tarefa 2

## Engenharia reversa

Monte um diagramas que representem modelos dos dados que você terá acesso e como pretende associá-los. Coloque abaixo uma imagem do diagrama.